/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                MediaQY Style                 */
/*~ ------------------------------------------ ~*/

/* //////////////////////////////////////////// */
/*                   MOBILE                     */
/* //////////////////////////////////////////// */
@media screen and (max-width: 480px) {
  /* HEADER */
  header {
    margin-top: 0.25rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2.5rem;
  }
  .top-header {
    margin: 0;
    height: 10rem;
    width: 100%;
  }
  h1, h2 { font-size: 2.25rem; }

  .newsletter-div {
    flex-direction: column;
    gap: 0;
  }
  .newsletter-div picture { width: 100%; }
  .newsletter-div .container {
    width: 100%;
    padding: 1.5rem;
    gap: 2.75rem;
  }
  .newsletter-div .container div {
    height: 100%;

    flex-direction: column;
    gap: 1rem;
  }
  .newsletter-div p { font-size: 1; }

  /* Top-Form */
  .newsletter-topform ul 
  { align-items: center; }
  .newsletter-topform ul li { 
    width: 100%;
    justify-content: center;
 }
  .newsletter-topform input { width: 90%; }
  .newsletter-topform button {
    width: 50%;
    position: static;
  }
  /* -------- */
  /* HEADER END           */
  /* --------------------- */

  /* MAIN */
  section { gap: 2.5rem; }
  h3 { font-size: 1rem; }
  /* ---- */

  /*  ACTIVITIES  */
  .activities { gap: 0.3rem; }
  .activities div { 
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    padding: 0 1rem;
  }
  .activities div article {
    width: 100%;

    gap: 1rem;
    font-family: var(--varton-pinfont-med);
  }
  .activities div article img 
  { height: 50%; }
  /* ACTIVITIES END        */
  /* --------------------- */

  /*  GUESTS      */
  .guests .carousel {
    position: relative;
    margin: 0 5rem;
    padding: 0 1.3rem;

    flex-wrap: nowrap;
  }
  /* CARDS */
  .guest-card {
    height: 21rem;
    width: 14.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }
  .guest-card div {
    height: 55%;
    padding: 1.25rem 1rem;
    text-align: center;
  }
  .guest-card div button { display: none; }
  /**/
  /* GUESTS END        */
  /* --------------------- */

  /*  SERIES  */
  .series { display: none; }
  /* SERIES END        */
  /* --------------------- */

  /*  MIDDLE FORM           */
  .middle-newsletter { order: 3; }
  .newsletter-middleform { width: 90%; }
  .newsletter-middleform ul 
  { align-items: center; width: 100%; }
  .newsletter-middleform ul li
  { justify-content: center; width: 100%; }
  .newsletter-middleform input 
  { width: 90%; }
  .newsletter-middleform input[type="checkbox"] 
  { width: 5%; }

  .newsletter-middleform button {
    margin-top: 0.4rem;
    width: 50%;
    position: static;
  }
  /* MIDDLE FORM END        */
  /* --------------------- */

  /*  LOCATION    */
  .location .container {
    width: 100%;
    flex-direction: column;
  }
  .location .text h3 { width: 100%; }
  .location .text {
    width: 100%;
    align-items: center;
  }
  .location .text .site {
    width: 65%;
    text-align: center;
  }
  /* LOCATION END        */
  /* --------------------- */

  /*  FOOTER  */
  footer {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }
  footer .content {
    display: grid;
    grid-template-columns: auto auto;
  }
  .item1, .item2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  /* FOOTER END        */
  /* --------------------- */
}
/* //////////////////////////////////////////// */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/